.App {
  box-shadow: 3px 10px 20px 4px rgb(93, 93, 93);
  color: black;
  display: block;
  font-family: "Poppins", sans-serif;
  margin: 30px auto;
  max-width: 1000px;
  padding: 55px 30px;
}

.App-footer {
  font-size: 14px;
  font-weight: 200;
  margin: 120px 0 -20px;
  text-align: center;
}

.React-logo {
  height: 30px;
}

.Swap-button {
  height: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkedin-link,
.github-link,
.weather-app-link {
  color: black;
  font-weight: 300;
  text-decoration: none;
}

.linkedin-link:hover,
.github-link:hover,
.weather-app-link:hover {
  color: black;
}

@media (max-width: 800px) {
  .App {
    margin: 30px auto;
    max-width: 390px;
    padding: 60px 15px;
  }

  .App-footer {
    color: black;
    font-size: 13px;
    margin-top: 115px;
    margin-bottom: -30px;
    padding: 2px 30px 0;
  }
}
