h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.Dictionary form {
  width: 50%;
  margin: 15px auto;
}

.Dictionary .form-control {
  border: 1px solid rgb(184, 184, 184);
  box-shadow: 2px 2px 2px 0px black;
  border-radius: 50px;
  font-weight: 200;
  line-height: 35px;
  padding-left: 55px;
}

.Dictionary .form-control-search {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 4.375rem;
  padding-left: 20px;
  line-height: 3rem;
  text-align: center;
  pointer-events: none;
  color: #414141;
}

.photographer-credit,
.unsplash-link {
  text-decoration: none;
  color: black;
}

.photographer-credit:hover,
.unsplash-link:hover {
  color: black;
}
