h1 {
  color: #1c4d8693;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 10px 0 20px;
  text-align: center;
}

h6 {
  color: black;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}

.Dictionary form {
  margin: 15px auto;
  width: 33%;
}

.Dictionary .form-control {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 0;
  box-shadow: 3px 7px 10px rgb(138, 138, 138);
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  margin-top: 20px;
  padding-left: 55px;
}

.Dictionary .form-control-search {
  color: #414141;
  display: block;
  height: 4.375rem;
  line-height: 50px;
  padding-left: 20px;
  position: absolute;
  text-align: center;
  width: 2.375rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 45px;
  }

  h6 {
    font-size: 16px;
    margin-top: 15px;
  }

  .Dictionary form {
    margin: 15px auto;
    width: 80%;
  }
}
