h1 {
  font-size: 49px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

h6 {
  color: black;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.Dictionary form {
  margin: 15px auto;
  width: 37%;
}

.Dictionary .form-control {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 25px;
  box-shadow: 3px 3px 3px 2px rgb(56, 56, 56);
  font-weight: 300;
  margin-top: 15px;
  line-height: 36px;
  padding-left: 60px;
}

.Dictionary .form-control-search {
  display: block;
  color: #414141;
  height: 4.375rem;
  line-height: 3.4rem;
  padding-left: 25px;
  position: absolute;
  text-align: center;
  width: 2.375rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 45px;
  }

  h6 {
    font-size: 16px;
    margin-top: 15px;
  }

  .Dictionary form {
    margin: 15px auto;
    width: 80%;
  }
}
