.Meaning {
  box-shadow: 2px 4px 25px rgb(93 93 110 /10%);
  margin: 100px 0 -90px;
  padding: 20px 40px;
}

.Meaning h3 {
  color: rgb(85, 85, 85);
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  margin-top: 5px;
  padding-top: 25px;
}

.Meaning .definition {
  color: black;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 2px;
}

.Meaning .example {
  color: #000000;
  font-style: italic;
  font-weight: 200;
  margin: 16px 0 30px;
}

.Meaning .example::first-letter {
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .Meaning {
    padding: 0px 22px 10px;
    margin-bottom: -50px;
    margin-top: -57px;
  }

  .Meaning h3 {
    font-size: 22px;
  }

  .Meaning .definition {
    font-size: 16px;
  }
}
