.Meaning h3 {
  color: rgba(112, 112, 112, 0.904);
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
}

.Meaning .example {
  color: black;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 20px;
}

.Meaning .definition {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Meaning {
  border-radius: 5px;
  padding: 20px 32px 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
