.Meaning h3 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  margin-top: 69px;
  padding-top: 25px;
}

.Meaning .example {
  color: rgb(255, 254, 254);
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: -8px 0 25px;
}

.Meaning .example::first-letter {
  text-transform: capitalize;
}

.Meaning .definition {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-top: 10px;
}

.Meaning {
  background: #847f9ba2;
  padding: 0px 30px 10px;
  margin-bottom: -50px;
}

@media (max-width: 800px) {
  .Meaning {
    padding: 0px 22px 10px;
    margin-bottom: -50px;
    margin-top: -57px;
  }

  .Meaning h3 {
    font-size: 22px;
  }

  .Meaning .definition {
    font-size: 16px;
  }
}
