.Phonetic .fa-volume-up {
  background: black;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  margin-top: -5px;
  padding: 10px;
}

.Phonetic .fa-volume-up:hover {
  background: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.Phonetic .text {
  color: rgba(0, 0, 0, 0.562);
  font-size: 18px;
  font-weight: 300;
  padding-left: 15px;
}

.Phonetic {
  margin: -6px 5px 20px 1px;
}
