.Phonetic {
  color: black;
  margin: 80px 0 -70px 0px;
}

.Phonetic .fa-volume-up {
  border: 1px solid black;
  border-radius: 25px;
  font-size: 16px;
  padding: 10px;
}

.Phonetic .fa-volume-up:hover {
  cursor: pointer;
}

.Phonetic .text {
  color: #555555;
  font-size: 15px;
  font-weight: 300;
  margin-left: 20px;
}

@media (max-width: 800px) {
  .Phonetic {
    margin: 50px 2px -35px 0px;
  }

  .Phonetic .fa-volume-up {
    font-size: 14px;
  }

  .Phonetic .text {
    font-size: 15px;
    margin-left: 15px;
  }
}
