.Synonyms {
  line-height: 30px;
  margin: -5px 0 40px;
}

.Synonyms .Synonyms-header {
  color: #ffffffaf;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-right: 10px;
  text-transform: uppercase;
}

.Synonyms ul {
  margin: 0;
  padding: 0;
}

.Synonyms li {
  color: #ffffffaf;
  display: inline-block;
  font-size: 15px;
  font-weight: 200;
  padding-right: 23px;
}

@media (max-width: 800px) {
  .Synonyms {
    margin-top: -15px;
    margin-bottom: 20px;
  }

  .Synonyms li {
    font-size: 14px;
  }
}
