.Synonyms li {
  color: #777676;
  display: inline-block;
  font-size: 14px;
  padding-right: 16px;
  font-weight: 200;
}

.Synonyms ul {
  padding: 0;
  margin: 0;
}

.Synonyms .Synonyms-header {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-right: 10px;
}

@media (max-width: 800px) {
  .Synonyms {
    margin-top: -8px;
    margin-bottom: 30px;
    padding: 18px 20px 22px;
  }

  .Synonyms li {
    font-size: 16px;
    margin: 20px 10px 0px 0;
  }
}
